name: Sync to Hugging Face
on:
  push:
    branches: [master]
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"
          # Удаляем все картинки из индекса, чтобы HF не ругался
          git filter-branch --force --index-filter \
          "git rm --cached --ignore-unmatch -r docs/images/ images/ screenshot/ *.png *.gif *.swp" \
          --prune-empty --tag-name-filter cat -- --all
          # Пушим в Space
          git push --force https://Rics9t:$HF_TOKEN@huggingface.co/spaces/Rics9t/Sherlock master:main
